@import url(http://fonts.googleapis.com/css?family=Covered+By+Your+Grace);


#time35000, #time20000{
  font-size: 80px;
  color: gray;
  text-align: center;
  font-family: 'Covered By Your Grace', cursive;
}

html {
  padding: 0 20px;
  height: 100%;
  width: 100%;
}

body {
  max-width: 1050px;
  height: 100%;
  margin: auto;
}

.container {
  height: 100%;
  background-color: #eee;
  padding: 0;
}

.text-center {
  text-align: center;
}

.jumbotron {
  background-color: #c5c5c5;
  background-color: #333;
  color: white;
}

.backgroundPosition {
  width: 650px;
  height:650px;
  border: solid 13px;
  margin: 0 0 0 31px;
  border-radius: 10px;
  margin-bottom: 43px;
}

.level1 {
  background-image: url("img/swordfish.jpg");
}

.level2 {
  background-image: url("img/purpletheme.png");
}

.btn-1 {
  height: 59px;
  width: 70px;
  position: absolute;
  left: 60px;
  top: 330px;
  opacity: .0;
  cursor: auto;
}

.btn-2{
  height: 23px;
  width: 20px;
  position: absolute;
  left: 63px;
  top: 81px;
  opacity:0;
  cursor: auto;
}

.instruction {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 50px;
  text-align: center;
}

.bonusTime {
  margin: 0;
}
