@font-face {
  font-family: 'Slice';
  src: url('slice.eot'); /* IE9 Compat Modes */
  src: url('slice.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('slice.woff2') format('woff2'), /* Super Modern Browsers */
       url('slice.woff') format('woff'), /* Pretty Modern Browsers */
       url('slice.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@import url(http://fonts.googleapis.com/css?family=Covered+By+Your+Grace);


#time35000, #time20000, #time25000 {
  font-size: 80px;
  color: gray;
  text-align: center;
  font-family: 'VT323', monospace;
}

html {
  padding: 0 20px;
  height: 100%;
  width: 100%;
}

body {
  max-width: 1050px;
  height: 100%;
  margin: auto;
}

.container {
  min-height: 100%;
  background-color: #eee;
  padding: 0;
}

.text-center {
  text-align: center;
}

.jumbotron {
  background-color: #c5c5c5;
  background-color: #333;
  color: white;
}

.backgroundPosition {
  width: 650px;
  height:650px;
  border: solid 13px;
  margin: 0 0 0 31px;
  border-radius: 10px;
  margin-bottom: 43px;
}

.level1 {
  background-image: url("img/swordfish.jpg");
}

.level2 {
  background-image: url("img/purpletheme.png");
}

.level3 {
  background-image: url("img/sign.png");
}

.level4 {
  background-image: url("img/whitetheme.png");
}

.level5 {
  background-image: url("img/redtheme.png");
}

.level6 {
  background-image: url("img/penny800X800.png");
}

.level7 {
  background-image: url("img/world.png");
  background-position: center;
}

.level8 {
  background-image: url("img/musicfest.jpg");
}

.level9 {
  background-image: url("img/jaba.jpg");
  background-position: center;
}

.level10 {
  background-image: url("img/constellations.png");
}

.level11 {
  background-image: url("img/leaves.jpg");
}

.level12 {
  background-image: url("img/waldoburger.jpg");
}

.level13 {
  background-image: url("img/sniperscene.jpg");
}

.level14 {
  background-image: url("img/penguins.jpg");
}

.btn-1 {
  height: 59px;
  width: 70px;
  position: absolute;
  left: 60px;
  top: 330px;
  opacity: .0;
  cursor: auto;
}

.btn-2 {
  height: 23px;
  width: 20px;
  position: absolute;
  left: 63px;
  top: 81px;
  opacity:0;
  cursor: auto;
}

.btn-3 {
  height: 31px;
  width: 84px;
  position: absolute;
  right: 230px;
  bottom: 106px;
  opacity: 0;
  cursor: auto;
}

.btn-4 {
  height: 23px;
  width: 31px;
  position: absolute;
  left: 135px;
  bottom: 96px;
  opacity: 0;
  cursor: auto;
}

.btn-5 {
  height: 33px;
  width: 33px;
  position: absolute;
  right: 117px;
  top: 217px;
  opacity: 0;
  cursor: auto;
  border-radius: 63px;
}

.btn-6 {
  height: 59px;
  width: 59px;
  position: absolute;
  left: 186px;
  bottom: 196px;
  opacity: 0;
  cursor: auto;
  border-radius: 63px;
}

.btn-7 {
  height: 14px;
  width: 25px;
  position: absolute;
  right: 360px;
  top: 238px;
  opacity: 0;
  cursor: auto;
  border-radius: 0;
}

.btn-8 {
  height: 30px;
  width: 30px;
  position: absolute;
  left: 208px;
  top: 261px;
  opacity: 0;
  cursor: auto;
  border-radius: 63px;
}

.btn-9 {
  height: 35px;
  width: 35px;
  position: absolute;
  right: 221px;
  top: 180px;
  opacity: 0;
  cursor: auto;
  border-radius: 63px;
}

.btn-10 {
  height: 69px;
  width: 128px;
  position: absolute;
  left: 307px;
  top: 24px;
  opacity: 0;
  cursor: auto;
  border-radius: 0;
}
.btn-11 {
  height: 27px;
  width: 40px;
  position: absolute;
  right: 213px;
  top: 79px;
  opacity: 0;
  cursor: auto;
  border-radius: 0;
}
.btn-12 {
  height: 128px;
  width: 50px;
  position: absolute;
  left: 169px;
  bottom: 92px;
  opacity: 0;
  cursor: auto;
  border-radius: 0;
}
.btn-13 {
  height: 30px;
  width: 20px;
  position: absolute;
  right: 115px;
  top: 107px;
  opacity: 0;
  cursor: auto;
  border-radius: 0
}
.btn-14 {
  height: 30px;
  width: 30px;
  position: absolute;
  right: 143px;
  top: 68px;
  opacity: 0;
  cursor: auto;
  border-radius: 0;
}

.instruction {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 50px;
  text-align: center;
}

.bonusTime {
  margin: 0;
}

h4, h5, p, h1, h3, label {
  font-family: 'VT323', monospace;
}
label {
  font-size: 25px;
}
h5 {
  font-size: 35px;
}

h4 {
  font-size: 40px;
}

h3 {
  font-size: 35px;
}

/* index page */
.row-width {
  width: 75%;
  margin: auto;
}

.panel {
  width: 60%;
  margin: auto;
}

.mid-container {
  margin: 25px;
  text-align: center;
}

.mid-container p {
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
  font-family: sans-serif;;
}

.form-control {
  width: 50%;
  margin: auto;
}

.panel-body {
  text-align: center;
}

.jumbotron h1 {
  font-family: 'Slice', Fallback, sans-serif;
  font-size: 53px;
}

.home h1 {
  font-family: 'Slice', Fallback, sans-serif;
  font-size: 134px;
}

.success h1 {
  font-family: 'Slice', Fallback, sans-serif;
  font-size: 59px;
}
