@import url(http://fonts.googleapis.com/css?family=Covered+By+Your+Grace);


#time35000, #time20000{
  font-size: 80px;
  color: gray;
  text-align: center;
  font-family: 'Covered By Your Grace', cursive;
}

html {
  padding: 0 20px;
  height: 100%;
  width: 100%;
}

body {
  max-width: 1050px;
  height: 100%;
  margin: auto;
}

.container {
  height: 100%;
  background-color: #eee;
  padding: 0;
}

.text-center {
  text-align: center;
}

.jumbotron {
  background-color: #c5c5c5;
  background-color: #333;
  color: white;
}

.level1 {
  background-image: url("img/swordfish.jpg");
  width: 650px;
  height:650px;
  border: solid 13px;
  margin: 0 0 0 31px;
  border-radius: 10px;
}

.btn-1{
  height: 59px;
  width: 70px;
  position: absolute;
  left: 60px;
  top: 330px;
  opacity: .0;
  cursor: auto;
}

.bonusTime {
  margin: 0;
}
