<div class="jumbotron text-center">
  <h1>Success! You beat level $game.getLevelId()!</h1>
</div>

<h3>Level Score: $levelScore</h3>
<h3>Total Score: $game.getScore()</h3>

<div class="row text-center">
  <div class="col-md-8">
    <h3> Your objective for the next level: $game.getLevelInstruction() </h3>
  </div>

  <div class="col-md-4">
    <a href="/levels/$game.getLevelId()">Next Level!</a>
  </div>

</div>
